.banner { 
  color: white; 
  height: 450px; 
  object-fit: contain; 
} 
 
.banner_contents { 
  padding: 140px 30px; 
} 
 
.banner_title { 
  font-size: 3rem; 
  font-weight: 800; 
} 
 
.banner_desc { 
width: 45rem; 
line-height: 1.3; 
max-width: 360px; 
margin-top: 20px; 
} 
.banner_button { 
cursor: pointer; 
color: #fff; 
background-color: rgba(51, 51, 51, 0.5); 
border: none; 
padding: 8px 20px; 
font-weight: 700; 
margin-right: 10px; 
}